<div class="inner">
  <header class="major">
    <h2>How To reach Munsyari</h2>
    <div id="map"></div>
    <script>
      function initMap() {
        var munsyari = {lat: 30.0715174, lng: 80.2373401};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: munsyari
        });
        var marker = new google.maps.Marker({
          position: munsyari,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClzkCM8JTH8sdTqrYs7W-Asv9W4Jz4rk0&callback=initMap">
    </script>
	<!-- <form method="POST" action="http://formspree.io/mark2288@gmail.com">
	  <input type="text" name="name" placeholder="Your name" style="background: #d5f0fb"/>
	  <input style="background: #d5f0fb; margin-top: 4px" type="text" name="email" placeholder="Your email"/>
	  <textarea name="message" placeholder="Let us know if you can come and who's coming!" style="background: #d5f0fb; margin-top: 4px"></textarea>
	  <input type="text" name="_gotcha" style="display:none"/>
	  <br>
	  <button type="submit" style="background: #d5f0fb">RSVP</button>
	</form> -->
  </header>
</div>
